/* POLICES */
/* Application de la police à toute la page avec le sélecteur universel */
*
{
    font-family: 'Raleway', sans-serif;
}

/* Graisse/épaisseur */
.searchbox-member, figcaption p:first-child, footer ul li:first-child, .pagemain-member > a p
{
    font-weight:bold;
}



/* INITIALISATION des comportements de base non souhaités */

a /* Suppression des caractéristiques initialies des liens: mise en forme et couleur */
{
    text-decoration:none; 
    color:black;
}

ul /* Suppression des puces des listes non ordonnées */
{
    list-style-type:none;
}

p /* Suppression des marges de tous les paragraphes */
{
    margin:0;
}



/* ESPACE */ 
/* Forcer le corps de la page à occuper toute la largeur, avec remise à 0 du margin et du padding */
body
{
    width:100%;
    margin:0;
    padding:0;
}



/* ALIGNEMENT */
/* Bords à gauche et à droite de la page, à l'exception du footer*/
header, section
{
    padding:0 2% 0 2%;
}

/* ESPACEMENT vertical */
section
{
    margin:0 0 2% 0; /* Ecart vertical */
}



/* Couleur de FOND */
aside, footer, .pagemain-member
{
    background-color:#F2F2F2;
}




/* CLASSES GENERIQUES propres à ce site */

/* Classe générique à cette maquette .isblue */
/* Mise en bleu de toutes les étoiles d'évaluation avant l'action de la classe ISGREY */ 
.fa-star, .isblue
{
    color:#0065FC;
}

/* Classe générique à cette maquette .isgrey*/
.isgrey
{
    color:#F2F2F2;
}

/* Classe générique à cette maquette .iswhite*/
.iswhite
{
    color:white;
}

/* Classes communes à tous les ensembles de cartes: hébergements, populaires, activités */
/* .COLLECTION */
/* .CARD */

/* Agencement */
.collection
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    /* justify-content:space-around; */
    align-content:space-between;
}

.card
{
    background-color: white;
    border-radius:10px;
    box-shadow:2px 2px 4px black;
    margin:0 0 10% 0; /* Ecart vertical entre les cartes */
}

.card img
{
    object-fit:cover; /* Affichage des images avec conservation du rapport hauteur/largeur */
}

.collection-member /* Partie 'Activités': regroupement de 2 images */
{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

figcaption
{
    padding-left:10px;
}

figcaption p
{
    padding:8px 0 8px 0;
}




/* HEADER */
/* Entête avec menu de navigation */

/* Agencement */
nav
{
    width:100%;
}

.topsection-menu
{
    padding:0;
    display:flex;
    flex-wrap:wrap;
}

.topsection-menu li
{
    width:160px;
    height:75px;
    display:flex; /* Centrage des éléments du menu*/
}

.topsection-menu li a
{
    margin:auto; /* Centrage des éléments du menu*/
}

.topsection-menu img
{
    width:100%;
    height:auto;
}

.totheleft
{
    margin-left:auto;
}

.topsection-menu li:nth-child(2):hover
{
    border-top: 3px solid #0065FC;
}

.topsection-menu li:nth-child(2):hover a
{
    color:#0065FC;
}

.topsection-menu li:nth-child(3):hover
{
    border-top: 3px solid #0065FC;
}

.topsection-menu li:nth-child(3):hover a
{
    color:#0065FC;
}

.topsection-menu li:nth-child(4)
{
    font-weight:bold; /* Texte 'S'inscrire' en gras */
}




/* SECTION Searchbox */
/* Section supérieure avec champ de saisie/recherche et filtres */

/* Agencement */
.searchbox-champ
{
    display:flex;
}

.searchbox-member
{
    display:flex;
}

.searchbox-member ul
{
    display:flex;
    flex-wrap:wrap;
}

.searchbox-info
{
    display:flex;
}

/* Dimensionnement, margin & padding */
.searchbox > p
{
    padding:0 0 1.0em 0; /* Ecart vertical entre le premier paragraphe et le champ de recherche */
}

/* Apparence: Champ de saisie */
.searchbox-champ label
{
    font-size:1.33333em;
    background-color:#F2F2F2;
    border-radius:10px 0 0 10px;
    padding:0.6em 1.2em 0.6em 1.2em;
}

.searchbox-champ input[type="search"]
{
    font-size:1.2em;
    font-weight:bold;
    padding:0.7em 1.5em 0.7em 1.0em;
    border:1px solid #F2F2F2;
}

.searchbox-champ input[type="button"]
{
    font-size:1.0em;
    background-color:#0065FC;
    border-radius:0 10px 10px 0;
    border:0;
    padding:0 1.0em 0 1.0em;
    font-weight:bold;
}

.searchbox-champ button
{
    font-size:1.33333em;
    background-color:#0065FC;
    border-radius:10px;
    border:0;
    padding:0 1.0em 0 1.0em;
    display:none; /* Ce bouton ne s'affiche que pour la version MOBILE de la page -> media queries */
}

/* Apparence: Filtres */
.searchbox-member ul li
{
    display:flex;
    border: 3px solid #F2F2F2;
    border-left:0;
    border-radius:1.25em;
    margin:0 0 0.5em 1.0em; /* Ecart horizontal et écart vertical entre les filtres*/
    padding:0.0em 1.0em 0.0em 0.0em;
}

.searchbox-member > p
{
    padding:1.7em 0 0 0; /* Alignement vertical du texte 'Filtres' */
}

.searchbox-member ul p
{
    padding:0.6em 0 0.6em 1.0em;
}

.searchbox-member i
{
    background-color:#DEEBFF;
    box-shadow: 0 0 0 2.5px #DEEBFF;
    border:0;
    padding:0.7em 0.8em 0.3em 0.8em;
    border-radius:50%;
}

.searchbox-member ul li:hover
{
    background-color:#0065FC;
    color:white;
}

/* Apparence: Information */
.searchbox-info p:nth-child(2)
{
    padding:0.5em 0 0 1.0em; /* Ecart avec l'icône Information, qui précéde le texte, et alignement vertical */
}

.searchbox-info i
{
    border: 2px solid #F2F2F2;
    font-size:0.875em; /* correspondance avec le classe fa-sm de FontAwesome */
    padding:0.5em 0.8em 0.5em 0.8em;
    border-radius:50%;
}




/* SECTION Pagemain */

/* Agencement */
.pagemain
{
    display:flex; /* Disposition des blocs 'Hébergements' et 'Populaires'*/
    justify-content:space-between;
    flex-wrap:wrap;
}

/* Etoiles d'évaluation */
.card-rating 
{
    padding:0 0 0.5em 0;
}


/* DIV Pagemain-member*/
/* Hébergements */

/* Dimensionnement des parties, margin & padding */
.pagemain-member
{
    width:60%;
    margin:0 2% 0 0; /* Assurer un écart avec la partie 'Populaires' */
    padding:0 2% 0 2%;
    border-radius:10px;
    min-width:290px; /* Largeur minimale du bloc enclenchant l'effet WRAP*/
}

.pagemain-member .collection
{
    width:100%;
    margin:0;
}

.pagemain-member a
{
    width:30%;
    min-width:175px; /* Taille minimale des cartes 'Hébergements' enclenchant l'effet WRAP*/
}

.pagemain-member .card
{
    width:100%;
    /* width:225px; */
    padding:1%; /* Bordure */
}

.pagemain-member img
{
    border-radius: 10px 10px 0 0;
    width:100%;
    height: 115px;
}

.pagemain-member > a p /* Texte 'Afficher plus' */
{
    margin:1.0em 0 2.0em 0; /* Ecarts verticaux */
}


/* ASIDE */
/* Les plus populaires */

/* Agencement */
aside .card
{
    display:flex; /* Disposition du contenu de la carte: figure à gauche, figcaption à droite */
    justify-content:flex-start;
}

/* Dimensionnement des parties, margin & padding */
aside
{
    width:30%;
    padding:0 2% 0 2%;
    border-radius:10px;
    min-width:290px; /* Taille minimale enclenchant l'effet WRAP, une fois que le bloc 'Hébergements' a atteint sa largeur minimale */
}

aside .collection
{
    width:100%;
    margin:0;
}

aside a
{
    width:100%; /* Pour éviter le problème, sur Firefox, d'affichage des cartes avec différentes largeurs */
}

aside .card
{
    width:98%;
    padding:1%; /* Bordure */
    height:150px;
}

aside img
{
    border-radius:10px 0 0 10px;
    width:40%;
    height:100%;
}

aside figcaption
{
    width:60%;
    display:flex;
    flex-direction:column;
}

aside .card-rating /* Etoiles d'évaluation en bas */
{
    margin-top:auto;
}

.fa-chart-line /* Icône à droite*/
{
    float:right;
}




/* SECTION Pagearea */
/* Activités */

/* Dimensionnement des parties, margin & padding */
.pagearea
{
    width:96%;
}

.pagearea .collection
{
    width:100%;
    margin:0;
}

.pagearea .collection-member
{
    width:23%; /* (100/4)-2; 4 colonnes,2%=écart entre les colonnes grâce à space-between */
    /*min-width:150px; /* Taille minimale enclenchant l'effet WRAP, une fois que l'espace space-between entre les colonnes est nul */
}

.pagearea .card
{
    width:100%;
}

.pagearea img
{
    border-radius:10px 10px 0 0;
    width:100%;
    height:350px;
}

.hastwo img
{
    height:125px;
}

.pagearea figcaption
{
    height:55px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}




/* FOOTER */
/* Pied de page */

/* Agencement */
footer
{
    display:flex; /* Disposition des 3 listes l'une à côté de l'autre */
    justify-content:space-between;
    padding:2%; /* Alignement du contenu sur le bord gauche de la page et application d'un padding identiques aux 3 autres côtés */
}

/* Dimensionnement des parties, margin & padding */
footer ul
{
    width:30%;
    padding:0;
    margin:0;
}

footer li
{
    padding:0 0 0.5em 0;
}

footer li:first-child
{
    padding:1.0em 0 0.8em 0;
}










/* RESPONSIVE DESIGN */
/* aspect-ratio and orientation and resolution */
/* Responsive design: tous les supports jusqu'à 500px de largeur */
@media all and (min-width: 1px) and (max-width: 500px)
{
    /* ALIGNEMENT */
    .pagemain
    {
        padding:0; /*Suppression du padding qui s'ajoute à celui déjà présent dans les blocs 'Hébergements' et 'Populaires'*/
    }

    /* Classes communes à tous les ensembles de cartes: hébergements, populaires, activités *//* .COLLECTION *//* .CARD */
    .card
    {
        margin:0 0 5% 0; /* Ecart vertical entre les cartes */
    }

    /* HEADER */
    /* Menu de navigation */
    .topsection-menu li
    {
        width:50%;
        height:50px;
    }
    .topsection-menu img
    {
        width:100px;
    }
    .topsection-menu li:nth-child(1) a
    {
        margin:auto auto auto 10%;
    }
    .topsection-menu li:nth-child(2)
    {
        order:5;
        border-bottom: 3px solid #F2F2F2;
    }
    .topsection-menu li:nth-child(3)
    {
        order:5;
        border-bottom: 3px solid #F2F2F2;
    }
    .topsection-menu li:nth-child(4) a
    {
        margin:auto 10% auto auto;
    }
    .topsection-menu li:nth-child(2):hover
    {
        border-bottom:3px solid #0065FC;
        border-top:none;
    }
    .topsection-menu li:nth-child(3):hover
    {
        border-bottom:3px solid #0065FC;
        border-top:none;
    }

    /* SECTION Searchbox */
    .searchbox-champ
    {
        font-size:0.75em; /* Adaptation de la taille du champ */
    }
    .searchbox-champ input[type="button"]
    {
        display:none; /* Cacher le bouton 'Rechercher' standard */
    }
    .searchbox-champ button
    {
        display:block; /* Afficher le bouton 'Rechercher' MOBILE */
    }
    .searchbox-member
    {
        flex-direction:column; /* Filtres sous le texte */
    }
    .searchbox-member ul
    {
        padding:0;
    }

    /* SECTION Pagemain */
    .pagemain
    {
        flex-direction:column-reverse; /* Disposition du bloc 'Populaires' avant 'Hébergements' */
    }
    /* DIV Pagemain-member*//* Hébergements */
    .pagemain-member
    {
        width:96%;
        margin:0;
        background-color:white;
    }
    .pagemain-member a
    {
        width:98%; /* Pour éviter le problème, sur Firefox, d'affichage des cartes avec différentes largeurs */
    }
    .pagemain-member .card
    {
        width:100%;
    }
    /* ASIDE *//* Les plus populaires */
    aside
    {
        width:96%;
        margin:0 0 1% 0; /* Ecart vertical avec la partie hébergements */
        border-radius:0;
    }
    aside a 
    {
        width:98%; /* Pour éviter le problème, sur Firefox, d'affichage des cartes avec différentes largeurs */
    }

    /* SECTION Pagearea */
    /* Activités */
    .pagearea img
    {
        height:125px; /* Hauteur identique pour toutes les images d'activités*/
    }
    .pagearea .collection-member
    {
        width:100%;
    }

    /* FOOTER */
    /* Pied de page */
    footer
    {
        flex-direction:column;
    }
    footer ul
    {
        width:100%;
    }
}



/* Responsive design: seulement les écrans de largeur entre 501px et 640px */
@media only screen and (min-width:501px) and (max-width:640px) /* and (orientation:portrait) */
{
    /* ALIGNEMENT */
    .pagemain
    {
        padding:0; /*Suppression du padding qui s'ajoute à celui déjà présent dans les blocs 'Hébergements' et 'Populaires'*/
    }

    /* Classes communes à tous les ensembles de cartes: hébergements, populaires, activités *//* .COLLECTION *//* .CARD */
    .card
    {
        margin:0 0 5% 0; /* Ecart vertical entre les cartes */
    }

    /* HEADER */
    /* Menu de navigation */
    .topsection-menu li
    {
        width:50%;
        height:50px;
    }
    .topsection-menu img
    {
        width:100px;
    }
    .topsection-menu li:nth-child(1) a
    {
        margin:auto auto auto 10%;
    }
    .topsection-menu li:nth-child(2)
    {
        order:5;
        border-bottom: 3px solid #F2F2F2;
    }
    .topsection-menu li:nth-child(3)
    {
        order:5;
        border-bottom: 3px solid #F2F2F2;
    }
    .topsection-menu li:nth-child(4) a
    {
        margin:auto 10% auto auto;
    }
    .topsection-menu li:nth-child(2):hover
    {
        border-bottom:3px solid #0065FC;
        border-top:none;
    }
    .topsection-menu li:nth-child(3):hover
    {
        border-bottom:3px solid #0065FC;
        border-top:none;
    }

    /* SECTION Pagemain */
    .pagemain
    {
        flex-direction:column-reverse; /* Disposition du bloc 'Populaires' avant 'Hébergements' */
    }
    .pagemain-member a
    {
        width:48%;
    }
    .pagemain-member .card
    {
        width:100%;
    }
    /* DIV Pagemain-member*//* Hébergements */
    .pagemain-member
    {
        width:96%;
        margin:0;
        background-color:white;
    }
    /* ASIDE *//* Les plus populaires */
    aside
    {
        width:96%;
        margin:0 0 1% 0; /* Ecart vertical avec la partie hébergements */
        border-radius:0;
    }
    aside .card
    {
        height:200px;
    }
    aside img
    {
        width:65%;
    }
    aside figcaption
    {
        width:35%;
    } 
    
    /* SECTION Pagearea */
    /* Activités */
    .pagearea .collection-member
    {
        width:49%;
    }
}



/* Responsive design: seulement les écrans de largeur entre 641px et 1023px */
@media only screen and (min-width:641px) and (max-width:1023px) /* and (orientation:portrait) */
{
    /* ALIGNEMENT */
    .pagemain
    {
        padding:0; /*Suppression du padding qui s'ajoute à celui déjà présent dans les blocs 'Hébergements' et 'Populaires'*/
    }

    /* HEADER */
    /* Menu de navigation */
    .topsection-menu li
    {
        width:25%;
        height:50px;
    }
    .topsection-menu img
    {
        width:100px;
    }

    /* SECTION Pagemain */
    .pagemain
    {
        flex-direction:column-reverse; /* Disposition du bloc 'Populaires' avant 'Hébergements' */
    }
    /* DIV Pagemain-member*//* Hébergements */
    .pagemain-member
    {
        width:96%;
        margin:0;
        border-radius:0;
    }
    .pagemain-member .collection
    {
        justify-content:space-around;
    }
    .pagemain-member a
    {
        width:30%;
    }
    .pagemain-member .card
    {
        width:100%;
    }
    /* ASIDE *//* Les plus populaires */
    aside
    {
        width:96%;
        margin:0 0 1% 0; /* Ecart vertical avec la partie hébergements */
        border-radius:0;
    }
    aside .collection
    {
        justify-content:space-around;
    }
    aside a 
    {
        width:30%;
    }
    aside .card
    {
        flex-direction:column;
        width:100%;
        height:auto;
    }
    aside img
    {
        border-radius: 10px 10px 0 0;
        width:100%;
        height:150px;
    }
    aside figcaption
    {
        padding:0;
        text-align:center;
        width:100%;
        height:110px;
        justify-content:space-around;
    }

    /* SECTION Pagearea */
    /* Activités */
    .pagearea .collection-member
    {
        width:49%;
    }
}