/* A supprimer après validation du code*/
.pagewrapper
{
    
}

/* Classes génériques à cette maquette */

/* Mise en bleu de toutes les étoiles d'évaluation avant l'action de la classe ISGREY */ 
.fa-star, .isblue
{
    color:#0065FC;
}

.isgrey
{
    color:#F2F2F2;
}

.iswhite
{
    color:white;
}

/* Définition de la police et liens avec les fichiers aux différents formats */
@font-face {
    font-family: 'ralewaythin';
    src: url('raleway-variablefont/raleway-variablefont_wght-webfont.eot');
    src: url('raleway-variablefont/raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-variablefont/raleway-variablefont_wght-webfont.woff2') format('woff2 supports variations'),
         url('raleway-variablefont/raleway-variablefont_wght-webfont.woff2') format('woff2-variations'),
         url('raleway-variablefont/raleway-variablefont_wght-webfont.woff') format('woff'),
         url('raleway-variablefont/raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight:bolder;
    font-stretch:normal;
    font-style: normal;
    /* wght:500; */
    /* font-variation-settings: "wght" 100; */
}

/* Application de la police à toute la page avec le sélecteur universel */
*
{
    font-family:ralewaythin, raleway,"Times New Roman",Verdana,Arial,sans-serif;
}

/* Forcer le corps de la page à occuper toute la largeur, avec remise à 0 du margin et du padding */
body
{
    width:100%;
    margin:0;
    padding:0;
}



/* Reset des comportements de base non souhaités */

/* Suppression des caractéristiques initialies des liens: mise en forme et couleur */
a
{
    text-decoration:none; 
    color:black;
}

/* Suppression des puces des listes non ordonnées */
ul
{
    list-style-type:none;
}



/* FLEX: agencement des éléments avec cette méthode */
/* Classe commune à tous les ensembles de cartes: hébergements, populaires, activités */
.collection
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-content:space-between;
}

/* Entête */
header
{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:wrap;
}

.topsection-menu
{
    display:flex;
    flex-direction:row;
}

/* Section supérieure avec champ de saisie et filtres */
.searchbox-info
{
    display:flex;
}

.searchbox-champ
{
    display:flex;
}

.searchbox-member
{
    display:flex;
    flex-direction:row;
}

.searchbox-member ul
{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    flex-wrap:wrap;
}

/* Section hébergements */
.pagemain
{
    display:flex;
    justify-content:space-between;
    /*flex-wrap:wrap;*/
}

/* ASIDE - Disposition du contenu de la carte: figure à gauche, figcaption à droite */
aside .card
{
    display:flex;
    justify-content:flex-start;
}

/* Partie 'Activités' */
.collection-member
{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

/* FOOTER - Disposition des 3 listes l'une à côté de l'autre*/
footer
{
    display:flex;
    flex-direction:row;
}



/* Dimensionnement des parties, margin & padding */
nav
{
    margin:0;
    padding:0;
    width:540px;
}

.topsection-menu
{
    padding:0;
}

.searchbox-member ul
{
    width:90%;
}

.pagemain-member
{
    width:64%;
    /* margin:; */
    margin:0;
    margin-left:1%;
    margin-right:1%;
    /* padding:; */
    padding-left:1%;
    padding-right:1%;
    padding-bottom:2%;
    border-radius:10px;
}

.pagemain-member .collection
{
    width:100%;
    margin:auto;
}

.pagemain-member .card
{
    width:100%;
    margin:0;
    margin-bottom:5%;
    padding:1%;
}

aside
{
    width:32%;
    margin:0;
    margin-left:1%;
    margin-right:1%;
    padding-left:1%;
    padding-right:1%;
    padding-bottom:2%;
    border-radius:10px;
    /*min-width:250px;*/
}

aside .collection
{
    width:100%;
    height:auto;
    margin:0;
}

aside .card
{
    width:100%;
    margin:0;
    margin-bottom:5%;
    padding:1%;
}

.pagearea
{
    width:96%;
    margin-left:2%;
    margin-right:2%;
    margin-bottom:4%;
}

.pagearea .collection
{
    width:100%;
    margin:0;
}

.pagearea .collection-member
{
    width:22%;
    min-width:250px;
}

.pagearea .card
{
    width:100%;
    margin:0;
    margin-bottom:5%;
}


/* Couleur de fond */
aside, footer, .pagemain-member
{
    background-color:#F2F2F2;
}



/* Entête avec menu de navigation */

.topsection-menu a:hover
{
    color:#0065FC;
    border-top: 3px solid #0065FC;
}

nav ul
{
    margin:0;
}

nav ul a
{
    width:100%;
    
}

nav ul li
{
    text-align:center;
    width:100%;
    padding-top:2em;
}

.topsection-menu :nth-child(3)
{
    /* order:-1; /* Changement d'ordre pour l'affichage mobile */
    text-align:right;
    font-weight:bold;
    color:#0065FC;
}

.topsection-logo
{
    width:fit-content;
}

.topsection-logo img
{
    width:154px;
    height:72px;
}





/* Cartes */
.card
{
    background-color: white;
    
    border-radius:10px;
    box-shadow:2px 2px 4px black;
    /*padding:1%;  */ 
}

/* Affichage des images avec conservation du rapport hauteur/largeur */
.card img
{
    object-fit:cover;
}

.pagemain-member img
{
    /* border-radius:; */
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    width:250px; /*100%;*/
    height: 125px;
}

aside img
{
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    width:40%;
    height:150px;
}

.pagearea img
{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    width:100%;
    height:300px;
}

.hastwo img
{
    height:125px;
}

figcaption
{
    padding-left:10px;
}

p
{
    margin:0;
    padding-top:8px;
    padding-bottom:8px;
}


/* Pied de page */
footer ul
{
    width:33%;
}






/* Visuel: champ de saisie */
.customicone-search
{
    /*
    
    height:2em;*/
    font-size:1.2em;
    background-color:#F2F2F2;
    text-align:center;
    width:1em;
    padding:0.6em;
    border: 1px solid #F2F2F2;
    border-top-left-radius:25%;
    border-bottom-left-radius:25%;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}

.searchbox-champ-saisie
{
    font-size:1.2em;
    background-color:white;
    text-align:center;
    border-top:1px solid #F2F2F2;
    border-bottom:1px solid #F2F2F2;
    
    width:12em;
    margin:0;
    padding:0;
    
}

.searchbox-champ-saisie input
{
    border:0;
    width:100%;
    height:100%;
    padding:0.6em;
    font-weight:bold;
}

.searchbox-champ-bouton
{
    font-size:1.2em;
    text-align:center;
    background-color:#0065FC;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    
    border:1px solid #0065FC;
    
    margin:0;
    padding:0;
    
}

.searchbox-champ-bouton input
{
    background-color:#0065FC;
    border:0;
    width:100%;
    height:100%;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    padding:0.6em;
    font-weight:bold;
}

#champ-bouton
{
    
}

/* Section supérieure avec champ de recherche et filtres */
.searchbox-member ul li
{
    display:flex;
    height:2.5em;
    border: 3px solid #F2F2F2;
    border-left:0;
    border-radius:1.25em;
    margin-right:1em;
    margin-bottom:0.5em;
}

.searchbox-member ul li:hover
{
    background-color:#0065FC;
}



/* Icônes */
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog, .fa-info-circle
{
    /*color:#0065FC;*/
    /*background-color:black;
    height:40px;
    width:40px;
    border-radius:20px;*/
}





.searchbox-member-text
{
    margin-top:auto;
    margin-bottom:auto;
}

.customicone-filtres
{
    
    font-size:1.0em;
    background-color:lightblue;
    border-radius:50%;
    height:1.75em;
    width:2.5em;
    text-align:center;
    padding-top:0.75em;
    /*
    color:#0065FC;
    
    text-align:center;
    width:1.2em;
    height:2em;
    padding-right:0.8em;
    padding-left:0.7em;
    padding-top:0.7em;
    padding-bottom:0em;
    border:0;
    */
    position:relative;
    right:0.3em;
}

.searchbox-member-filtre-text
{
    margin:auto;
    padding-left:0.5em;
    padding-right:1em;
}

.customicone-info
{
    color:#0065FC;
    text-align:center;
    width:1em;
    height:1em;
    padding:0.25em;
    border: 1px solid #F2F2F2;
    border-radius:50%;
}

.searchbox-info-text p
{
    margin:0;
    padding:0.25em;
}
/**/
.fa-chart-line
{
    display:block;
    float:right;
}

/* Polices */
.searchbox-member
{
    font-weight:bold;
}

figcaption p:first-child
{
    font-weight:bold;
}

footer ul li:first-child
{
    font-weight:bold;
}

/* RESPONSIVE DESIGN */
/* aspect-ratio and orientation and resolution */
/* Responsive design: tous les types d'écrans de moins de 320px */
@media all and (max-width: 320px)
{
    .topsection-menu
    {
        flex-direction:row;
        flex-wrap:wrap;
    }
    .topsection-menu :nth-child(3)
    {
        order:-1;
        
    }
    #champ-bouton
    {
        display:none;
    }
    .searchbox-member
    {
        flex-direction:column;
    }
    .pagemain
    {
        flex-direction:column-reverse;
    }
    aside
    {
        width:100%;
        margin:0;
        margin-bottom:1%;
        border-radius:0;
    }
    .pagemain-member
    {
        width:100%;
        margin:0;
        /* margin-right:0; */
        background-color:white;
    }
    footer
    {
        flex-direction:column;
    }
    footer ul
    {
        width:100%;
    }
}
/* Responsive design: tous les types d'écrans de moins de 1024px */
@media all and (max-width: 1024px)
{

}

/* Responsive design: tous les types d'écrans dont la largeur du périphérique est inférieure à 480px */
@media all and (max-device-width: 480px)
{

}
/* Responsive design: seulement les écrans de largeur entre px et px en orientation portrait */
@media only screen and (min-device-width:400px) and (max-device-width:1100px) and (orientation:portrait)
{

}