/* Police et couleur - Sélecteur universel/Universal selctor*/
@font-face {
    font-family: 'ralewaythin';
    src: url('raleway-variablefont/raleway-variablefont_wght-webfont.eot');
    src: url('raleway-variablefont/raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-variablefont/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-variablefont/raleway-variablefont_wght-webfont.woff') format('woff'),
         url('raleway-variablefont/raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}

*
{
    font-family:ralewaythin, raleway,"Times New Roman",Verdana,Arial,sans-serif;
    /*color:#0065FC; */ /* #DEEBFF */ /* #FFFFFF; */ /* rgb(240,96,204) */ /* #000000; */
}

body
{
    width:100%;
    margin:0;
    padding:0;
}

/* Reset des comportements de base non souhaités */
a
{
    text-decoration:none; 
    color:black;
}

ul
{
    list-style-type:none;
}



/* FLEX */
header
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

nav ul
{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.searchbox-member
{
    display:flex;
    flex-direction:row;
}

.searchbox-member ul
{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.pagemain
{
    display:flex;
    justify-content:space-between;
}

.collection
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-content:space-between;
}

.collection-member
{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

aside .card
{
    display:flex;
}

footer
{
    display:flex;
    flex-direction:row;
}



/* Dimensionnement des parties */
nav
{
    width:360px; /*100%;*/
}

.searchbox-member ul
{
    background-color:white;
    width:50%;
}

.pagemain-member
{
    width:64%;
    margin:0;
    margin-left:1%;
    margin-right:1%;
    padding-left:1%;
    padding-right:1%;
    padding-bottom:2%;
    border-radius:10px;
}

.pagemain-member .collection
{
    width:100%;
    margin:auto;
}

.pagemain-member .card
{
    width:100%;
    background-color: gold;
    margin:0;
    margin-bottom:5%;
    padding:1%;
}

aside
{
    width:32%;
    margin:0;
    margin-left:1%;
    margin-right:1%;
    padding-left:1%;
    padding-right:1%;
    padding-bottom:2%;
    border-radius:10px;
}

aside .collection
{
    width:100%;
    height:auto;
    margin:0;
}

aside .card
{
    width:100%;
    margin:0;
    margin-bottom:5%;
    padding:1%;
}

.pagearea
{
    width:96%;
    margin-left:2%;
    margin-right:2%;
    margin-bottom:4%;
}

.pagearea .collection-member
{
    width:22%;
}

.pagearea .card
{
    width:100%;
    margin:0;
}


/* Couleur de fond */
aside, footer, .pagemain-member
{
    background-color:#F2F2F2;
}



/* Entête avec menu de navigation */
.corner
{
    background-color:blue;
    width:180px; /*50%;*/
    text-align:center;
}

.corner img
{
    width:100%;
    height:100%;
}

nav ul li
{
    text-align:center;
}



/* Cartes */
.card
{
    background-color: white;
    
    border-radius:10px;
    /*padding:1%;  */ 
}

/* Affichage des images avec conservation du rapport hauteur/largeur */
.card img
{
    object-fit:cover;
}

.pagemain-member img
{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    width:250px; /*100%;*/
    height: 125px;
}

aside img
{
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    width:40%;
    height:150px;
}

.pagearea img
{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    width:100%;
    height:300px;
}

.hastwo img
{
    height:125px;
}

figcaption
{
    padding-left:10px;
}



/* Pied de page */
footer ul
{
    width:33%;
}



/* Visualisation - A SUPPRIMER à la fin des essais*/
html, body
{
    background-color:red;
}

.pagewrapper
{
    background-color:yellowgreen;
}

header a
{
    background-color: green;
}



/* Visuel: champ de saisir */
#champ-label
{
    background-color:#F2F2F2;
    font-size:1em;
    height:2em;
}

#ville-village
{
    border:1px solid #F2F2F2;
    background-color:white;
    height:2em;
    margin:0;
    padding:5px;
    font-weight:bold;
}

#champ-bouton
{
    background-color:#0065FC;
    color:white;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-width:0;
    height:2em;
    margin:0;
    padding:5px;
}

/* Section supérieure avec champ de recherche et filtres */
.searchbox-member ul li
{
    height:2em;
    
    text-align:center;
    vertical-align:center;
    border: 2px solid #F2F2F2;
    border-radius:10px;
}